! urxvt
urxvt.background: #0f0f0f
urxvt.foreground: #c8c8c8
urxvt.color0:  #251f1f
urxvt.color8:  #5e5e5e
urxvt.color1:  #eb4509
urxvt.color9:  #eb4509
urxvt.color2:  #94e76b
urxvt.color10: #95e76b
urxvt.color3:  #ffac18
urxvt.color11: #ffac18
urxvt.color4:  #46aede
urxvt.color12: #46aede
urxvt.color5:  #e32c57
urxvt.color13: #e32c57
urxvt.color6:  #d6dbac
urxvt.color14: #d6dbac
urxvt.color7:  #efefef
urxvt.color15: #efefef

urxvt.scrollBar: true
urxvt.scrollBar_right: true
urxvt.scrollBar_floating: false
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.scrollstyle: plain
urxvt.saveLines: 65535

urxvt.font: xft:bitstream vera sans mono:size=9:antialias=true
urxvt.boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=true

urxvt.letterSpace: -1
